 * {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
 }

 *,
 *:before,
 *::after {
     box-sizing: inherit;
 }

 html {
     background-color: hsl(273, 75%, 66%)
 }

 body {
     left: 10%;
     top: 10rem;
     overflow: hidden;
     background-color: white;
     font-size: 12px;
     font-family: 'kumbh Sans', sans-serif;
     border-radius: 3rem;
     width: 80%;
     margin: 10rem auto;
 }

 .woman {
     position: absolute;
     top: 3.5rem;
     left: 3rem;
 }

.shadow {
    position: absolute;
    right: 3.6rem;
}

 #at {
     display: none;
 }

 h1 {
     font-weight: 700;
     font-size: 3em;
     text-align: center;
     padding: 8rem 0 1rem 1rem;
 }

 .wrapper {
     position: relative;
     display: grid;
     grid-template-rows: repeat(5, 1fr);
     grid-template-columns: 1fr;
 }

 .grid-item {
     font-size: 1em;
     font-weight: 400;
     /*    border-bottom: 1px solid hsl(240, 5%, 91%);*/
     padding: 0.3em 0.4em;
     margin-left: 1em;
     ;
     text-align: justify;
     width: 90%;
 }

 .gird-item,
 img {
     position: absolute;
     right: 1em;
 }

 .grid-item:after {
     content: '';
     display: block;
     margin: 0 auto;
     width: 97%;
     padding: 0.5em;
     border-bottom: 1px solid hsl(240, 5%, 91%);
 }

 .last-item:after {
     content: '';
     border-bottom: none;
 }


 /************ Footer *************/
 .attribution {
     position: relative;
     ;
     font-size: 8px;
     text-align: center;
     bottom: -3em;
     ;
 }

 .attribution a {
     color: hsl(228, 45%, 44%);
 }
