 * {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
 }

 *,
 *:before,
 *::after {
     box-sizing: inherit;
 }

 html {
     background-color: hsl(273, 75%, 66%)
 }

body {
    overflow: hidden;
    background-color: white;
    font-size: 12px;
    margin: 30px;
    font-family: kumbh Sans;
    border-radius: 8%;
    width: 75%;
    height: 80vh;
    margin: 0 auto;
}

h1 {
    font-weight: 700;
    text-align: center;
}

.wrapper {
    position: relative;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: 1fr;
}

/*
.wrapper h1 {
    
}
*/

.grid-item {
    font-size: 1em;
    font-weight: 400;
    border-bottom: 1px solid hsl(240, 5%, 91%);
    padding:01em;
    text-align: justify;
}

.gird-item img {
    position: absolute;
    left: 0;
}

/*
.woman {
    position: relative;
    bottom: 9em;
}
*/

/*
.images::after {
    content:'';
    display: block;
    width: 62%;
    height: 62%;
    background: hsl(240, 73%, 65%) url('../images/bg-pattern-mobile.svg') no-repeat 0 0;
}
*/

 #at {
     display: none;
 }

/************ Footer *************/
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
