 *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*, *:before, *::after{
    box-sizing: inherit ;
}

body {
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background: hsl(185, 75%, 39%);
    font-size: 18px;
    font-family: Kumbh sans,
}

.top, .bottom{
    position: absolute;
}

.top {
    transform: rotate(-30deg);
    transform: translate(-40%,-50%);
}

.bottom {
    transform: translate(90%,35%);
}

.card-box {
    border-radius: 5%;
    background-color: white;
    display: relative;
    margin: 0 auto;
    vertical-align: middle;
    height: 400px;
    width: 350px;
    transform: translate(0,50%);
}

.card-background {
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    position: relative;
    width: 100%;
    height: 40%;
}

.profile-pic {
    display: absolute;
    border-radius: 50%;
    border: 5px solid white;
    /* margin: 0 auto; */
    transform: translate(110%,-50%);
}

.name, .stats {
  position: absolute;
  padding: 0 25%;
  text-align: center;
}

.name {
  width: 50%;
  bottom: 30%;
}

.horizontal-line {
  margin-top: 10%;
  margin-bottom: 5%;
}

.grid-container {
  display: grid;
  grid-template-columns:repeat(3, 1fr);
  grid-row: 1;
  grid-column-gap: 5%;
  margin: 0 auto;
  padding: 0 15%;
  text-align: center;
}

.spans {
  opacity:0.6;
}

.new-font {
  font-size: 14px;
}

/* footer {
    margin: 0 auto;
} */
.attribution {
    position: relative;
    top: 40vh;
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
} 

/*
Responsive design
-------------------------------------------
 */
/* Phones */

 @media screen and (max-width:1200px){
    .card-box {
        border-radius: 5%;
        background-color: white;
        display: relative;
        margin: 0 auto;
        vertical-align: middle;
        height: 400px;
        width: 350px;
        transform: translate(0,20%);
    }

    .bottom {
        transform: translate(60%,30%);
    }

    .attribution {
        position: relative;
        font-size: 11px;
        text-align: center;
    }
}

@media screen and (max-width:700px){
    .card-box {
        border-radius: 5%;
        background-color: white;
        display: relative;
        margin: 0 auto;
        vertical-align: middle;
        height: 300px;
        width: 250px;
        transform: translate(0,20%);
    }

    .bottom {
        transform: translate(30%,30%);
    }

    .attribution {
        position: relative;
        font-size: 11px;
        text-align: center;
    }

    .profile-pic {
        display: absolute;
        border-radius: 50%;
        border: 5px solid white;
        /* margin: 0 auto; */
        transform: translate(65%,-50%);
    }

    .horizontal-line {
         margin-top: 0;
      }
} 