 *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*, *:before, *::after{
    box-sizing: inherit ;
}

body {
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background: hsl(185, 75%, 39%);
    font-size: 18px;
    font-family: Kumbh sans,
}

.top, .bottom{
    position: absolute;
}

.top {
    transform: rotate(-30deg);
    transform: translate(-40%,-50%);
}

.bottom {
    transform: translate(85%,30%);
}

.card-box {
    border-radius: 5%;
    background-color: white;
    display: relative;
    margin: 0 auto;
    vertical-align: middle;
    height: 400px;
    width: 350px;
    transform: translate(0,50%);
}

.card-background {
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    position: relative;
    width: 100%;
    height: 40%;
}

.profile-pic {
    display: absolute;
    border-radius: 50%;
    border: 5px solid white;
    /* margin: 0 auto; */
    transform: translate(110%,-50%);
}

.name, .stats {
  position: absolute;
  padding: 0 25%;
  text-align: center;
}

.name {
  width: 50%;
  bottom: 30%;
}

.horizontal-line {
  margin-top: 10%;
  margin-bottom: 5%;
}

.grid-container {
  display: grid;
  grid-template-columns:repeat(3, 1fr);
  grid-row: 1;
  grid-column-gap: 5%;
  margin: 0 auto;
  padding: 0 15%;
  text-align: center;
}

.spans {
  opacity:0.6;
}

.new-font {
  font-size: 14px;
}

/*
Responsive design
-------------------------------------------
 */
/* Phones */
/* @media screen and (max-width:450px) {
    .top {
        transform: translate(-40%, -50%);
    }
    .bottom {
        transform: translate(40%, 90%);
    }
}*/
 /* Ipad Pro */
 /* @media screen and (min-width:451px) and (max-width:1024px) {
     .top {
         transform: translate(-40%, -50%);
     }
     .bottom {
         transform: translate(50%, 50%);
     }
 } */

 @media screen and (min-width:1025px) and (max-width:1120px) {
    .top {
        transform: translate(-40%, -50%);
    }
    .bottom {
         transform: translate(50%,40%);
     }
 }

 @media screen and (min-width:1121px){
    .top {
        transform: translate(-60%, -60%);
    }
    .bottom {
         transform: translate(100%, 50%);
     }
 }
